/* print.css */
/* body * {
    display: none !important;
} */
.header__main img {
  margin-bottom: 2%;
  margin-top: 1%;
}

.body-container {
  display: block !important;
  width: 50%;
  margin: auto;
  min-height: 200px;
}

#print-area {
  position: absolute;
  left: 0;
  top: 0;
}

.print-btn {
  margin-top: 5%;
}

#print-element-id {
  border: none;
  width: 1px;
  color: transparent;
  background-color: transparent;
}

input:focus {
  outline: none;
}

@media print {
  .page,
  .page-break {
    break-after: page;
  }
  header,
  footer,
  .no-print {
    display: none !important;
  }
}

.page,
.page-break {
  break-after: page;
}

.container {
  background: #eeeee0;
  border-radius: 5px;
}

.quantity-select {
  margin-top: 10%;
  padding: 5px;
  border-radius: 5px;
}

.quantity-select {
  /*background-color: #dcdcdc;*/
  background-color: #eeeee0;
}

body {
  /*background: #fffafa;*/
  background: #fffff0;
}

h1 {
  font-size: 25px;
  font-weight: lighter;
  margin-top: 10%;
}

label {
  font-weight: 600;
  line-height: 14px;
}

span {
  font-size: 15px;
  font-weight: 100;
}

.preloader {
  margin-top: 10%;
}

.table-print {
  /* margin-left: 5%; */
  font-size: 13px;
}

.form-body-container {
  margin: auto;
}

.col-container,
.ma {
  margin: auto;
}

.print-buttons {
  display: inline-flex;
  gap: 10px;
}
